<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <p style="text-align: left; background: lightblue; font-size: 25px;">Sprint 2</p>
        <link rel="stylesheet" href="assignment-portfolio.css">
        <script src="assignment-portfolio.js"></script>
    </head>

    <body>

        <a href="https://dice-roller-ns.azurewebsites.net/">Dice Roller</a>
        <a href="https://syllabus-ns.azurewebsites.net/">Course Syllabus</a>
        <a href="https://regex-ns.azurewebsites.net/">RegExp Tester</a>
        <a href="app.html">Back to Assignment Portfolio</a>
    </body>